.hidden {
    display: none;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: rgb(182, 103, 255);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#main-container {
    max-width: 600px;
    min-width: 370px;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    background-color: blueviolet;
    display: flex;
    color: white;
    font-size: 1.2em;
}

header .logo {
    width: 80px;
}

header .logo img {
    width: 100%;
}

header h1 {
    margin-left: 10px;
}

header .user-info {
    flex: 1;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

header .login {
    width: 200px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 15px;
}

header .login ul {
    list-style: none;
}

header .login ul li {
    color: white;
}

header .login li:hover {
    cursor: pointer;
    color: rgb(175, 139, 209);
}

footer {
    height: 50px;
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

main {
    min-height: 300px;
    padding: 10px;
    flex: 1;
}

main .content {
    height: calc(100% - 30px);
    background-color: white;
    border: 5px solid blueviolet;
    border-radius: 15px;
    padding: 10px;
    color: rgb(108, 6, 202);
    position: relative;
    overflow: auto;
}

main .content a {
    color: blueviolet;
}

main .content a:hover {
    color: rgb(158, 99, 212);
}
