.chat-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-block .chat {
    padding: 10px;
    flex: 1;
    overflow: auto;
}

main .content .conv-menu {
    background-color: rgba(137, 45, 223, 0.3);
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid blue;
    border-radius: 10px;
}

main .content .conv-menu button {
    background-color: lightblue;
    color: blue;
    border: 2px solid blue;
    font-size: 1.2em;
    border-radius: 10px;
}

main .content .conv-menu button:hover {
    background-color: rgb(146, 146, 230);
    cursor: pointer;
}

main .content .chat .message {
    border: 2px solid darkblue;
    width: 70%;
    padding: 5px;
    color: black;
    margin: 10px 0 10px 0;
}

main .content .chat .message h4 {
    margin: 5px;
    padding: 0;
}

main .content .chat .left {
    border-radius: 0 15px 15px 15px;
    background-color: lightblue;
}

main .content .chat .right {
    border-radius: 15px 0 15px 15px;
    background-color: lightgoldenrodyellow;
    margin-left: auto;
}

main .content .send-message, main .content .contact-search {
    display: flex;
    height: 30px;
}

#user-message, #contact-search {
    flex: 1;
    border: 2px solid blue;
    border-radius: 10px;
    padding-left: 5px;
    background-color: lightgoldenrodyellow;
}

#send, #search {
    width: 50px;
    margin-left: 10px;
    border: 2px solid blue;
    background-color: lightblue;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

#send:hover, #search:hover {
    background-color: rgb(146, 146, 230);
}

#send:active, #search:active {
    background-color: blue;
}

.user-search-block {
    width: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main .content .user-search-block .user-list {
    flex: 1;
    overflow: auto;
}

main .content .user-search-block .user-node {
    display: flex;
    height: 30px;
    margin: 10px 0;
}

main .content .user-search-block .user-node .user-name {
    border: 2px solid darkblue;
    color: black;
    border-radius: 10px;
    background-color: lightblue;
    flex: 1;
    line-height: 26px;
    padding-left: 5px;
}

.user-choose {
    border: 2px solid blue;
    background-color: lightblue;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    width: 50px;
    margin-left: 10px;
}

.user-choose:hover {
    background-color: rgb(146, 146, 230);
}

.user-choose:active {
    background-color: blue;
}

.hidden {
    display: none;
}